######################## runtime env ########################

TZ=UTC

# api endpoint — test 环境
API_SERVER_ENDPOINT=http://aperag-test-api:8000
API_SERVER_BASE_PATH=/api/v1

########################  build env  ########################

NEXT_PUBLIC_BASE_PATH=

NEXT_PUBLIC_DEFAULT_THEME=light

NEXT_PUBLIC_DEFAULT_LOCALE=zh-CN

BODY_SIZE_LIMIT=5gb
